<% include ./partials/header %>

<h1>sign up!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Register</button>
    
</form>

<% include ./partials/footer %>